hr {
	height: 1px;
	border: none;
	background-color: var(--color-ending-line, #eaeaea);
	margin: 0 16px;
	display: var(--display-hr, block);
}

hr.open {
	margin-top: 16px;
}

lsg-accordion-panel{
	display: block;
	padding-left: 32px;
	padding-right: 16px;
	height: auto;
	transition: height 2s ease-out;
}

lsg-accordion-panel.collapsed {
	display: none;
	overflow: hidden;
	height: 0;
}

::slotted(*){
	margin-left: 0;
	margin-right: 0;
	font-family: verdana, sans-serif;
}
