::slotted(lsg-accordion-element:last-child){
	--display-hr: none;
}

:host{
	margin: 32px 0;
	display: block;
	--color-ending-line: #eaeaea;
	--color-headline-background: #ffffff;
	--color-headline-background-hover: #f4f4f4;
	--color-headline-text: #000000;
	--color-icon: #000000;
}
