<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title><%= htmlWebpackPlugin.options.title %></title>
		<script src="webcomponents/custom-elements-es5-adapter.js"></script>
		<script src="//cdn.polyfill.io/v2/polyfill.min.js"></script>
		<script src="webcomponents/webcomponents-loader.js"></script>
	</head>
	<body>
		<h1>Default/Multiple</h1>
		<lsg-accordion>
			<lsg-accordion-element headertext="Hello World">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
					dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
					clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
			</lsg-accordion-element>
			<lsg-accordion-element headertext="Hello Universe">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
					dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
					clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
			</lsg-accordion-element>
			<lsg-accordion-element
				headertext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
					dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
			</lsg-accordion-element>
		</lsg-accordion>
		<h1>Single</h1>
		<lsg-accordion mode="single">
			<lsg-accordion-element headertext="Hello World">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
					dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
					clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
			</lsg-accordion-element>
			<lsg-accordion-element headertext="Hello Universe">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
					dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
					clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
			</lsg-accordion-element>
			<lsg-accordion-element
				headertext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
					dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
			</lsg-accordion-element>
		</lsg-accordion>
		<h1>Strict</h1>
		<lsg-accordion mode="strict">
			<lsg-accordion-element headertext="Hello World">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
					dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
					clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
			</lsg-accordion-element>
			<lsg-accordion-element headertext="Hello Universe">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
					dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
					clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
			</lsg-accordion-element>
			<lsg-accordion-element
				headertext="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
					dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
			</lsg-accordion-element>
			</lsg-accordion>
	</body>
</html>
